<!DOCTYPE html>
<html>
<head>
    <title>Display Menu</title>
    <link rel="stylesheet" type="text/css" href="/css/display_menu.css">
</head>
<body>
    <h1>Saved Menus</h1>
    <% menus.forEach(menu => { %>
        <div class="menu">
            <h2><%= menu.menuName %></h2>
            <% menu.headings.forEach(heading => { %>
                <h3><%= heading.heading %></h3>
                <ul>
                    <% heading.dishes.forEach(dish => { %>
                        <li><%= dish %></li>
                    <% }) %>
                </ul>
            <% }) %>
            <div class="form-inline">
                <form action="/delete_menu" method="POST">
                    <input type="hidden" name="menuId" value="<%= menu.menuName %>">
                    <button type="submit">Delete</button>
                </form>
                <form action="/convert_to_pdf" method="POST">
                    <input type="hidden" name="menuId" value="<%= menu.menuName %>">
                    <button type="submit">Convert to PDF</button>
                </form>
            </div>
        </div>
    <% }) %>
</body>
</html>
